@model eLearning.ViewModels.GradeVM

@{
    ViewData["Title"] = "Edit Grade";
}

<div class="my-2">
    <button type="button" class="btn btn-info" onclick="history.back()"><i class="bi bi-arrow-left-circle"></i> Back to List</button>
</div>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create Grade</h4>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Name" required>
                <label for="Name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="Description" asp-for="Description" placeholder="Description" rows="8"></textarea>
                <label for="Description">Description</label>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>