@using eLearning.Constant
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="my-4 text-primary" style="font-family: 'Braah One', sans-serif;">@AppConstants.AppName</h1>
    <div class="mt-5">
        <img src="~/imgs/banner.svg" alt="" height="400px">
    </div>
</div>