@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Home Page</h4>
    </div>
    <div class="card-body">
        <h1 class="text-center">Home</h1>
    </div>
</div>