@model eLearning.ViewModels.ApplicationUserVM

@{
    ViewData["Title"] = "Chapter Details";
}

<div class="my-2">
     <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
</div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Chapter Details</h4>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
            <input type="text" disabled class="form-control" id="FirstName" asp-for="FirstName" placeholder="First Name">
                <label for="Name">First Name</label>
            </div>
            <div class="form-floating mb-3">
            <input type="text" disabled class="form-control" id="LastName" asp-for="LastName" placeholder="Last Name">
                <label for="LastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
            <input disabled type="text" class="form-control" id="UserName" asp-for="UserName" placeholder="UserName">
                <label for="UserName">Username</label>
            </div>
            <div class="form-floating mb-3">
            <input disabled type="email" class="form-control" id="Email" asp-for="Email" placeholder="Email">
                <label for="Email">Email</label>
            </div>
            <div class="mb-3">
                <label for="GradeId">Grade</label>
            <input disabled type="text" class="form-control" id="Grade" asp-for="Grade.Name" placeholder="Grade">
            </div>

            <div class="form-floating mb-3">
            <textarea class="form-control" id="Address" asp-for="Address" placeholder="Address" rows="8" disabled></textarea>
                <label for="Address">Address</label>
            </div>
        </div>
    </div>