@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">List of Subjects</h4>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var subject in Model!)
            {
            <div class="col-md-6 mb-4">
                    <a class="text-decoration-none" asp-area="Student" asp-controller="Chapter" asp-action="Index" asp-route-subjectId="@subject.Id">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <h6 class="card-title text-white">@subject.Name</h6>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>