@model List<eLearning.ViewModels.ChapterVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Chapters</h4>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var chapter in Model!)
            {
            <div class="col-md-6 mb-4">
                    <a class="text-decoration-none" asp-area="Student" asp-controller="Video" asp-action="Index" asp-route-subjectId="@chapter.SubjectId" asp-route-chapterId="@chapter.Id">
                    <div class="card bg-success">
                        <div class="card-body">
                                <h6 class="card-title text-white">@chapter.Name</h6>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>